%h1 Searchlight Demo App

:markdown
  This is a demo of [the Searchlight Ruby gem](https://github.com/nathanl/searchlight). There are three versions of the search above - which will you choose?

  Oh, I'm kidding, choose all of them! They should all work **exactly the same**. Only the code is different.

  The goal is for you to see that 1) searching with Searchlight is nicer than doing all the parameter parsing and setting of defaults in your controller and 2) Searchlight works with more than one ORM.

- content_for :footer do
  %span
    -# nothing! :)
