%h1 Book Finder

= render 'search_form', search: @search, remote_opt: true

%h2 Book Results

#book_search_results
  = render 'search_results'

#links
  %p
    A demo of
    %a{href: 'https://github.com/nathanl/searchlight'}
      the Searchlight Ruby gem.
    Demo code is viewable at
    %a{href: 'https://github.com/nathanl/bookfinder'}
      github.com/nathanl/bookfinder
