%h1 Book Finder

= render 'search_form', search: @search, remote_opt: true

%h2 Book Results

#book_search_results
  = render 'search_results'

#links
  %p
    :markdown
      A demo of [the Searchlight Ruby gem](https://github.com/nathanl/searchlight). Demo code is viewable at [github.com/nathanl/bookfinder](https://github.com/nathanl/bookfinder).
